<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baihua.baihuamedical.modules.service.dao.SerInquiryDao">

    <sql id="selectIndexColumns">
        id, `name`,gender,age,character_describe,`status`,gmt_modified
    </sql>

    <select id="selectDoctorIndexPage"
            resultType="com.baihua.baihuamedical.modules.service.entity.SerInquiryEntity">
        (SELECT
            <include refid="selectIndexColumns"/>
        FROM
            ser_inquiry
        WHERE
            `status` = 1
        AND
            id IN (
            SELECT
                inquiry_id
            FROM
                ser_inquiry_match
            WHERE
                doc_id = #{doctorId}
            AND
                is_del = 0
        )
        AND
           is_del = 0
        ORDER BY
            gmt_modified)
        UNION ALL
        (SELECT
            <include refid="selectIndexColumns"/>
        FROM
            ser_inquiry
        WHERE
            `status` = 2
        AND
            doctor_id = #{doctorId}
        AND
            is_del = 0
        ORDER BY
            gmt_modified)
        UNION ALL
        (SELECT
           <include refid="selectIndexColumns"/>
        FROM
            ser_inquiry
        WHERE
            `status` = 3
        AND
            doctor_id = #{doctorId}
        AND
            is_del = 0
        ORDER BY
            gmt_modified DESC)
    </select>
    <select id="selectDoctorIndexTotal" resultType="java.lang.Long">
        SELECT
            COUNT(*) + (
            SELECT
                COUNT(*)
            FROM
                ser_inquiry
            WHERE
                doctor_id = #{doctorId}
            AND
               `status` IN (2,3)
            AND
                is_del = 0)
        FROM
            ser_inquiry
        WHERE
            `status` = 1
        AND
            is_del = 0
        AND
            id IN (
            SELECT
                inquiry_id
            FROM
                ser_inquiry_match
            WHERE
                doc_id = #{doctorId}
            AND
                is_del = 0
        )
    </select>
    <select id="queryInquiry" resultType="java.util.Map">
        SELECT
	ud.id AS doctorid,
	ud.`name` AS doctorname,
	bo.`name` AS officename,
	sq.gender,
	bh.`name` AS hospitalname,
	sq.gmt_create
FROM
	ser_inquiry sq,
	us_doctor ud,
	bas_office bo,
	bas_hospital bh
<where>
	sq.doctor_id = ud.id
AND ud.hos_id = bh.id
AND ud.hos_id = bh.id
    AND sq.`status` = 3
    AND sq.is_del = 0

        <if test="officeid != null">
            AND bo.id = #{officeid}
        </if>
        <if test="patientid != null">
            AND sq.patient_id = #{patientid}
        </if>
        <if test="hospitalNname != null">
            AND bh.`name` LIKE CONCAT('%',#{hospitalNname},'%')
        </if>
        <if test="startDate != null and startDate!=null">
            AND sq.gmt_create BETWEEN #{startDate}
            AND #{endDate}
        </if>
      </where>
    </select>
    <select id="queryInquiryTotal" resultType="java.lang.Long">
        SELECT
	COUNT(*)
FROM
	(
		SELECT
			ud.id AS doctorid,
			ud.`name` AS doctorname,
			bo.`name` AS officename,
			sq.gender,
			bh.`name` AS hospitalname,
			sq.gmt_create
		FROM
			ser_inquiry sq,
			us_doctor ud,
			bas_office bo,
			bas_hospital bh
        <where>
            sq.doctor_id = ud.id
            AND ud.hos_id = bh.id
            AND ud.hos_id = bh.id
            AND sq.`status` = 3
            AND sq.is_del = 0

            <if test="officeid != null">
                AND bo.id = #{officeid}
            </if>
            <if test="patientid != null">
                AND sq.patient_id = #{patientid}
            </if>
            <if test="hospitalNname != null">
                AND bh.`name` LIKE CONCAT('%',#{hospitalNname},'%')
            </if>
            <if test="startDate != null and startDate!=null">
                AND sq.gmt_create BETWEEN #{startDate}
                AND #{endDate}
            </if>
        </where>

) total
    </select>
</mapper>